<form class="ms-auto form-inline" action="{{ repository is defined ? path('repository_search_commits', {repository: repository.name, commitish: commitish}) : path('repository_list') }}" method="get">
  <div class="input-group">
    <input value="{{ query ?? '' }}" type="text" name="q" class="form-control" placeholder="{{ repository is defined ? 'REPOSITORY_MENU_SEARCH_PLACEHOLDER'|trans : 'REPOSITORY_MENU_GLOBAL_SEARCH_PLACEHOLDER'|trans }}">
    <div class="input-group-append">
      <button class="btn btn-secondary btn-blend-left" type="button"><i class="icon icon-solo ion-md-search"></i></button>
    </div>
  </div>
</form>
